.characterList {
  display: grid;
  grid-template-columns: 260px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 30px;
  @media all and (min-width: 768px) {
    grid-template-columns: 260px 260px;
    grid-gap: 80px;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 260px 260px 260px 260px;
    grid-gap: 30px;
  }
}
.filterError {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  display: flex;
  background-color: rgb(26, 171, 182);
  width: 250px;
  @media all and (min-width: 768px) {
    flex-direction: row;
    margin-top: 60px;
    width: 600px;
  }
  &__img {
    height: 250px;
  }
  &__text {
    padding: 80px 40px 40px 40px;
    font-size: 30px;
  }
}
