.filterCharacter__input {
  width: 350px;
  height: 35px;
  margin: 30px;
  border: rgb(26, 171, 182) solid 3px;
  background-color: black;
  font-size: 18px;
  outline: none;
  padding-left: 10px;
}
