.headerLogo {
  // background-color: black;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: white solid 1px;
  // position: fixed;
  // z-index: -1;
  @media all and (min-width: 768px) {
    border-bottom: 0;
  }
  &__img {
    width: 280px;
    @media all and (min-width: 768px) {
      width: 400px;
    }
  }
}
